body {
     font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h1, h2 {
    color: #1c73ff;
    font-weight: bold;
}

img {
    max-width: 100%;
    border-radius: 20px;
}

footer {
    background-color: #1c73ff;
    color: #fff;
    padding: 20px;
    margin-top: 40px;
}

input, button {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    body {
        background-color: #e0f7fa;
    }

    h1 {
        font-size: 1.5rem;
    }

    footer {
        font-size: 0.9rem;
    }
}
